.imageApparition {
  animation: imageApparition 500ms forwards;
  opacity: 0;
}

.imageDisparition {
  animation: imageDisparition 500ms forwards;
  opacity: 1;
}
.fastApparition {
  animation: imageApparition 200ms forwards;
  opacity: 0;
}

.fastDisparition {
  animation: imageDisparition 200ms forwards;
  opacity: 1;
}
@keyframes imageDisparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageApparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.translateBottom {
  animation: translateBottom 500ms forwards;
  transform: translateY(-59px);
}
.translateTop {
  animation: translateTop 500ms forwards;
  transform: translateY(0);
}
.translateRight {
  animation: translateRight 500ms forwards cubic-bezier(0.69, 0.18, 0.46, 1.44);
  transform: translateX(0);
}
.scale {
  animation: scale 500ms forwards cubic-bezier(0.69, 0.18, 0.46, 1.44);
  transform: scale(0.8);
}
@keyframes translateRight {
  100% {
    transform: translateX(61.5px);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes translateTop {
  100% {
    transform: translateY(-59px);
  }
}

@keyframes translateBottom {
  100% {
    transform: translateY(0);
  }
}
